<!DOCTYPE html>
<html>
	<head>
		<title>Hack</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<link href="/css/style.css" rel="stylesheet" media="screen" />

		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
		<script src="js/script.js" type="text/javascript" charset="utf-8"></script>
		<%= csrf_meta_tags %>
		<%= yield(:head) %>
	</head>
	<body>

		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav pull-right">
						<li class="active">
							<a href="/">Home</a>
						</li>
						<li>
							<a href="<%= edit_user_url current_user if current_user %>">My Account</a>
						</li>
						<li>
							<a href="/location">My Location</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">

			<div id="top" class="row">
				<div class="span6">
					<a href="#"><img src="/img/logo.png" alt="LOGO" /></a>
				</div>
				<div class="span4">
					<br />
					<br />
					<br />
					<a href="<%= leftovers_url %>" class="btn-large btn-danger" id="hungry" >I'm Hungry</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="<%= new_leftover_url %>" class="btn-large btn-danger">I Cooked</a>
				</div>
			</div>
			<div class="row">
				<div class="span10">
					<% if notice %>
					<p class="alert alert-success">
						<%= notice %>
					</p>
					<% end %>
					<%= yield %>
					<div id="map-canvas"></div>
				</div>
				<div class="span2">
					<% if current_user %>
					Logged in as <%= current_user.email %>.
					<br />
					<%= link_to 'Logout', logout_path, :method => :delete %>
					<% else %>
					<%= link_to 'Login', sessions_path %> or <%= link_to 'Sign Up', signup_path %>
					<% end %>
				</div>
			</div>
		</div>

	</body>
</html>
